@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Homemade+Apple&display=swap");

:root {
  --clr-primary: #f8a82b;
  --clr-secondary: #964b42;
  --clr-accent-one: #ee7536;
  --clr-accent-two: #5b5731;
  --clr-accent-three: #928d51;
  --clr-accent-four: #ebe9e8;
}
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: var(--clr-primary);
  overflow-x: hidden;
}

main {
  width: 100vw;
  display: grid;
  place-items: center;
}
#root {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  color: var(--clr-accent-two);
  background-color: var(--clr-primary);
  min-height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

h1,
h2,
h3 {
  font-family: "Homemade Apple", cursive;
}

.featured {
  font-size: 2rem;
  margin-block: 0;
  color: var(--clr-primary);
}

img {
  max-width: 100%;
  border-radius: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

button,
input[type="button"] {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: medium;
  color: var(--clr-secondary);
  border-color: var(--clr-accent-two);
  background-color: var(--clr-accent-four);
  border-radius: 0.5em;
  min-width: 4rem;
  min-height: 2rem;
  cursor: pointer;
}

input[type="text"],
input,
select {
  border-radius: 0.5rem;
  border: 2px solid var(--clr-accent-two);
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background-color: var(--clr-accent-three);
  color: var(--clr-accent-four);
}

a {
  font-size: large;
  text-decoration: none;
  color: var(--clr-primary);
}

a:hover,
a:focus {
  color: var(--clr-accent-one);
}

.cancel:hover {
  background-color: var(--clr-secondary);
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-secondary);
  position: sticky;
  z-index: 10;
}

.navbar a,
.navbar div {
  padding-block: 2rem;
  margin-inline: 1rem;
}

.account {
  position: relative;
  background-color: var(--clr-secondary);
  height: 100%;
}

.logout {
  position: absolute;
  width: 100%;
  top: 60%;
  border: none;
  display: none;
}
.account:hover .logout,
.account a:hover .logout {
  display: block;
}
.userInfoContainer {
  width: 100%;
  display: grid;
  gap: 2rem;
  padding-block: 2rem;
  grid-template-columns: 25% 75%;
}

.userInfo,
.userUpdateForm {
  font-size: large;
  display: grid;
  align-self: start;
  position: sticky;
  top: 25%;
  background-color: var(--clr-accent-four);
  margin: 2rem;
  border: 1.5px solid var(--clr-accent-two);
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 80%;
}

.userUpdateForm {
  width: 100%;
}

#image {
  width: 90%;
}

.userUpdateForm form {
  display: grid;
  gap: 1rem;
}

.userUpdateForm input {
  margin-left: 0.5rem;
}

.userInfo img,
.userUpdateForm img {
  max-width: 80%;
  padding-block: 1rem;
}

.usersUsername {
  font-size: larger;
  font-weight: 600;
}

.userItems {
  border: 1.5px solid var(--clr-accent-two);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 80%;
  display: grid;
  place-items: center;
  grid-column-start: 2;
  /* min-width: 60rem; */
}

.userItemsNav {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.itemContent {
  width: 100%;
  display: grid;
  place-items: center;
}

.allUsers,
.userCard,
.reviewedRecipes,
.reviewedRecipeCard,
.userRecipes,
.userInfo,
.userReviews,
.userComments {
  width: 100%;
  display: grid;
  place-items: center;
  margin-block: 1rem;
  text-align: center;
}

.allUsers {
  grid-template-columns: 1fr 1fr 1fr;
}

.allUsers h2 {
  grid-column: 1/-1;
}

.reviewedRecipeCard img {
  max-width: 20%;
}

.userCard {
  grid-template-columns: 100%;
  display: grid;
  place-items: center;
  max-width: 50%;
  min-width: 75%;
}

.userCard h3,
.userCard a {
  grid-column: span 2;
}

.userCard img {
  grid-column: 1/-1;
  max-width: 50%;
}

.userCard p {
  grid-column: span 2;
}

.recipesContainer {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  width: 100%;
}

.searchContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-inline: 1rem;
}

.search-bar,
.searchBar {
  width: 100%;
}

.tagInfo {
  color: var(--clr-accent-two);
  cursor: pointer;
}

.tagInfo:hover,
.tagInfo:focus {
  color: var(--clr-accent-three);
}

.tagBox {
  display: grid;
  place-items: center;
  margin-inline: 0.5rem;
  min-width: 10%;
}

.tagBox div {
  border: 2px solid var(--clr-accent-two);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 2rem;
  overflow-y: scroll;
  font-size: medium;
}

.tagBox div label input {
  margin-inline: 0.5rem;
}

.recipeCard {
  border: 1.5px solid var(--clr-accent-two);
  background-color: var(--clr-accent-four);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  width: 80%;
  max-width: 1350px;
  text-align: left;
  font-size: 1.25rem;
}

.cardContent {
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipeCard img {
  max-width: 80%;
  aspect-ratio: 1;
  grid-column-start: 1;
  border-radius: 50%;
  object-fit: cover;
}

.recipeTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Homemade Apple", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-accent-two);
  cursor: pointer;
}

.recipeTitle:hover,
.recipeTitle:focus {
  color: var(--clr-accent-three);
}

.username {
  grid-column: 1/3;
  font-size: large;
}

.esttime {
  grid-column: 3/-1;
}
.starContainer,
.notReviewed {
  grid-column: 3/-1;
  width: 100%;
}

.recipeCardTags {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.recipeButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 3/-1;
  gap: 1rem;
}

.top,
.bottom,
.reviewContainer,
.reviewCard,
.commentCard,
.userCard {
  border: 2px solid var(--clr-accent-two);
  background-color: var(--clr-accent-four);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 80%;
}

.bottom {
  grid-template-columns: 100%;
}

.bottom input,
.bottom select {
  margin-inline: 1rem;
}

.singleRecipeCard {
  display: grid;
  place-items: center;
  width: 100%;
}

.singleRecipeTitle {
  margin-top: 4rem;
  grid-column: 3/-1;
  display: grid;
  place-items: center;
  grid-row: 1/3;
}

.singleRecipeCard img {
  grid-column: 1/3;
  grid-row: 1/5;
  border-radius: 50%;
  object-fit: cover;
}

.singleRecipeUsername {
  grid-column-start: 3;
}

.averageRating {
  margin-top: 2rem;
  grid-column: 1/3;
}

/*
.singleRecipeCard ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.singleRecipeCard ul li {
  margin-inline: 0.5rem;
}*/

.singleRecipeTags {
  grid-column: 1/3;
  display: flex;
  gap: 1rem;
}

.ingredientTitle {
  grid-row-start: 4;
  grid-column: 3/-1;
}

.ingredients {
  grid-row: 5/10;
  grid-column: 3/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin: 0.5rem;
}

.buttonContainer {
  grid-column: 1/-1;
  display: flex;
  gap: 1rem;
  margin: 2rem;
}

.averageRating {
  width: 100%;
  display: grid;
  place-items: center;
}

.review {
  grid-column: 1/-1;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.reviewButtons {
  width: 100%;
  grid-row-start: 1;
  grid-column: 2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.commentButton {
  grid-column: 1/-1;
  width: 100%;
  display: grid;
  place-items: center;
}
.leaveAReview {
  grid-column: 1/-1;
}

.reviewContainer form {
  grid-column: 1/-1;
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.reviewTitle {
  grid-column: 1/-1;
}

.titleForReview {
  grid-column: 1/3;
  grid-row-start: 1;
}

.reviewUser {
  width: 100%;
  display: grid;
  grid-column-start: 1;
}

.reviewContent {
  grid-column: 1/-1;
}

.noComments {
  grid-column: 1/-1;
  text-align: center;
}

.comment {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.commentUser {
  grid-column: 1/-1;
  margin-bottom: 1rem;
}

.commentFormButton {
  grid-column: 1/-1;
  width: 100%;
  display: grid;
  place-items: center;
}

.areYouSure {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.editComment {
  grid-column-start: 1;
  display: grid;
  place-items: center;
}

.commentsTitle {
  grid-column: 2/-1;
}

.newRecipeForm {
  border: 2px solid var(--clr-accent-two);
  background-color: var(--clr-accent-four);
  border-radius: 10px;
  display: grid;
  padding: 1rem;
  margin: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.newRecipeForm input {
  width: 100%;
  grid-column: 2/-1;
}

.newRecipeForm label {
  grid-column-start: 1;
}

.newRecipeForm div {
  grid-column: 1/-1;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.newRecipeForm div input {
  min-width: 50%;
}

.formTitleWrapper {
  display: flex,
}

.newFormContainer {
  border: 1px solid var(--clr-accent-two);
  background-color: var(--clr-accent-four);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  max-width: 30%;
  gap: 30px;
  flex-direction: column;
  flex-wrap: wrap;
}

.newFormContainer label {
  color: #964b42;
  font-weight: bold;
  font-size: 20px;
}

#formNumbers {
  color: var(--clr-accent-two);
  font-weight: normal;
  font-size: 14px;
}

#newSubmit {
  background-color: var(--clr-secondary);
  color: var(--clr-accent-four);
}

#newFormTitle {
  max-width: 90%;
}

.inputWrap {
  border-bottom: 1px solid #964b42;
  padding: 10px;
}

#estTime {
  margin-right: 74%;
}

.wrapper {
  width: 100%;
  display: grid;
  place-items: center;
  /* grid-template-columns: 1fr 1fr; */
  gap: 4rem;
  margin-block: 2rem;
}

.login,
.register {
  border: 2px solid var(--clr-accent-two);
  background-color: var(--clr-accent-four);
  border-radius: 10px;
  width: 80%;
  display: grid;
  padding: 1rem;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
}

.login h2,
.register h2,
.login p,
.register p {
  grid-column: 1/-1;
}

.login form,
.register form {
  grid-column: 1/-1;
  display: grid;
  gap: 1rem;
}

.login form input,
.register form input {
  margin-left: 1rem;
}

.adminNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.allTags {
  border: 1.5px solid var(--clr-accent-two);
  background-color: var(--clr-accent-four);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.allTags button {
  grid-column: 1/-1;
}

/* star classes */

.starContainer {
  font-size: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--clr-accent-two);
  border-radius: 10px;
  width: fit-content;
  padding: 1em;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-block;
  height: 4em;
  width: 4em;
}

.average {
  font-size: 4em;
  margin-left: 0.25em;
  color: var(--clr-accent-two);
}

/* binder classes */

.binderContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 15%;
  margin-top: -50px;
  margin-bottom: -40px;
}

.ring {
  width: 15px;
  height: 100px;
  background: linear-gradient(
    45deg,
    #999 5%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #464444 95%
  );
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
}

.mainPageContainer {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  background-color: var(--clr-secondary);
  border-radius: 10px;
  width: 90%;
}

/* tabs styles */
.tabrow {
  margin-top: -1.75rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.tab {
  font-size: 1.5rem;
  border: 1px solid #aaa;
  color: var(--clr-accent-three);
  background: var(--clr-accent-four);
  background: linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 var(--clr-accent-four);
  text-shadow: 0 1px var(--clr-accent-four);
  margin: -2px -5px;
  padding: 0 30px;
  overflow: hidden;
}

.tab:focus,
.tab:hover {
  background: #fff;
  color: var(--clr-secondary);
  z-index: 2;
  border-top-color: #fff;
}

.tab:before,
.tab:after {
  border: 1px solid #aaa;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: "";
}

.tab:before {
  left: -7px;
  border-top-right-radius: 6px;
  border-width: 1px 1px 0px 0px;
  box-shadow: 2px 0px 0 #ececec;
}

.tab:after {
  right: -7px;
  border-top-left-radius: 6px;
  border-width: 1px 0px 0px 1px;
  box-shadow: -2px 0px 0 #ececec;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}

.loading {
  position: relative;
  width: fit-content;
  line-height: 1rem;
}

.loading::after {
  position: absolute;
  right: -3rem;
  top: -0.75rem;
  content: "";
  margin: auto;
  border: 5px solid var(--clr-accent-four);
  border-radius: 50%;
  border-top: 5px solid var(--clr-secondary);
  width: 1.5rem;
  height: 1.5rem;
  animation: spinner 2s ease-in-out infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pageButtons {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

@media only screen and (max-width: 750px) {
  body {
    font-size: 0.75rem;
  }
  .userInfoContainer {
    grid-template-columns: 1fr;
    display: grid;
    place-items: center;
  }
  .userInfo,
  .userUpdateForm {
    position: static;
  }
  .userItems {
    grid-column: 1/-1;
    width: 70%;
  }
  .allUsers {
    grid-template-columns: 1fr;
  }
  .recipeCard {
    grid-template-columns: 1fr;
    padding: 1em;
  }
  .tagBox div {
    grid-template-columns: 1fr;
  }
  .top {
    text-align: center;
  }
  .singleRecipeCard img,
  .singleRecipeTitle,
  .ingredientTitle,
  .ingredients,
  .averageRating {
    grid-column: 1/-1;
    grid-row: auto;
  }
  .singleRecipeCard img {
    width: 60%;
  }
  .singleRecipeUsername {
    grid-column: span 2;
  }
  .buttonContainer {
    grid-row-start: 8;
  }
}
